<!DOCTYPE html>
<html>
<head>
  <title>JCP</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
  <link rel="shortcut icon" href="#">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if current_user %>
    <script>
        window.currentUser = {
            user: {
                "id": <%= current_user.id %>,
                "email": "<%= current_user.email %>",
                "first_name": "<%= current_user.first_name %>",
                "last_name": "<%= current_user.last_name %>",
                "username": "<%= current_user.username %>",
                "phone": "<%= current_user.phone %>",
                "bio": "<%= current_user.bio %>",
                "image_ids": <%= current_user.image_ids %>,
                "icon_ids": <%= current_user.icon_ids %>,
                "reviews": {
                    <% current_user.reviews.each do |review| %>
                    <%= review.product_id %>: {
                      "id": <%= Integer(review.id) %>,
                      "first_name": "<%= review.first_name %>",
                      "product_id": <%= Integer(review.product_id) %>,
                      "user_id": <%= Integer(review.user_id) %>,
                      "rating": <%= Float(review.rating) %>,
                      "comment": `<%= review.comment.gsub("`", "\\\\`") %>`
                    },
                    <% end %>
                }
            },
            favorites: <%= current_user.favorites.map{|fav| fav.product_id} %>,
            cartItems: {
                <% current_user.cart_items.each do |cart_item| %>
                "<%= Integer(cart_item.product_id) %>": {
                    "id": <%= Integer(cart_item.id) %>,
                    "product_id": <%= Integer(cart_item.product_id) %>,
                    "user_id": <%= Integer(cart_item.user_id) %>,
                    "quantity": <%= Integer(cart_item.quantity) %>,
                },
                <% end %>
            }
        };
    </script>
  <% end %>
</head>

<body>
<%= yield %>
</body>
</html>
